{% extends 'base/main.html' %}
{% block content %}
{% block title %}Transaction Flow Excel Report {% endblock %}
<h1 class="text-center mb-4 mt-5 pt-5 white1">Transaction Flow Excel Report</h1>
<div class="container">
   <div class="card text-center col-md-4 offset-md-4">
      {% if error %}
      <p style="color:red; text-align:center; text-transform: capitalize">{{ error }}</p>
      <br>
      {% endif %}
      <form action="{% url 'transactionexcel' %}" method="POST">
         {% csrf_token %}
         <Label class="mt-2">Choose POS: </Label>
         <br>
         <!-- ALL POS OPTION -->
         <select name="pos" class="form-control">
            {% for po in pos %}
            <option value="{{ po.pos_name }}">{{ po.pos_name }}</option>
            {% endfor %}
         </select>
         <Label class="mt-3">Start Date: </Label>
         <input type="date" class="form-control" name="start">
         <br>
         <Label>End Date: </Label>
         <input type="date" class="form-control" name="end">
         <br>
         <input type="submit" class="btn btn-primary btn-block mb-2" formtarget="_blank">
      </form>
   </div>
</div>
<footer>
   <p class="text-center">ISA Copyright &copy; 2019</p>
</footer>
{% endblock %}