{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{% static 'vendor/assets/css/jquery-ui.min.css'%}" rel="stylesheet" type="text/css" />
  <link href="{% static 'vendor/assets/css/MonthPicker.min.css'%}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
  <link href="{% static 'vendor/assets/css/all.css' %}" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'vendor/assets/img/favicon.ico' %}" />
  <link href="{% static 'vendor/assets/css/roboto.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'vendor/assets/css/style2.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/assets/css/daterangepicker.css' %}" />
  <title>{% block title %}ISA{% endblock %}</title>
</head>