{% load static %}

<script src="{% static 'vendor/assets/js/jquery-1.12.1.min.js' %}"></script>
<script src="{% static 'vendor/assets/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'vendor/assets/js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'vendor/assets/js/MonthPicker.min.js' %}"></script>
<script src="{% static 'vendor/assets/js/examples.js' %}"></script>
<script src="{% static 'vendor/assets/js/popper.min.js' %}"></script>
<script src="{% static 'vendor/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/assets/js/script2.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/assets/js/moment.min.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/assets/js/daterangepicker.min.js' %}" type="text/javascript"></script>
{% if error %}
<script>
   $(function () {
       $('#error').modal('show');
   });
</script>
{% endif %}
<script>

   $(document).ready(function(){
   $(".notime").hide();
     $("#daterange").daterangepicker({
        "showDropdowns": true,
        "autoApply": true,
        "opens": "center"
    }, function(start, end, label) {
    });
    $("#datetimerange").daterangepicker({
        "showDropdowns": true,
        "opens": "center",
        "timePicker": true,
        "autoApply": true,
        startDate: moment().startOf('hour'),
        endDate: moment().startOf('hour'),
        locale: {
          format: 'M/DD/YYYY hh:mm:ss A'
        }
    }, function(start, end, label) {
    });
      $("#pos-div").hide();
      $("#pos-dev").prop("disabled", true );
      $("#pos-op").prop("disabled", false );

      $("#termi-tab").on("click", function(){
         $("#pos-div").show();
         $("#pos-dev").prop("disabled", false );
         $("#pos-op").prop("disabled", true );
         $("#operator-div").hide();
      });

      $("#all-tab").on("click", function(){
         $("#operator-div").hide();
         $("#pos-div").hide();
         $("#pos-dev").prop("disabled", 'disabled' );
         $("#pos-op").prop("disabled", 'disabled');
      });

      $("#operator-tab").on("click", function(){
         $("#pos-div").hide();
         $("#pos-dev").prop("disabled", true );
         $("#pos-op").prop("disabled", false );
         $("#operator-div").show();
      });

      $("#home-tab").on("click", function(){
        $(".notime").hide();
        $(".withtime").show();
        $("#datetimerange").prop("disabled", false );
        $("#daterange").prop("disabled", true );
      });

      $("#profile-tab").on("click", function(){
        $(".notime").show();
        $(".withtime").hide();
        $("#datetimerange").prop("disabled", true );
        $("#daterange").prop("disabled", false );
      });

   });
</script>