{% load static %}
<script src="{% static 'vendor/assets/js/jquery-1.12.1.min.js' %}"></script>
<script src="{% static 'vendor/assets/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'vendor/assets/js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'vendor/assets/js/MonthPicker.min.js' %}"></script>
<script src="{% static 'vendor/assets/js/examples.js' %}"></script>
<script src="{% static 'vendor/assets/js/popper.min.js' %}"></script>
<script src="{% static 'vendor/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/assets/js/script2.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/assets/js/moment.min.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/assets/js/daterangepicker.min.js' %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
$(function() {
  $("#daterange").daterangepicker({
    "showDropdowns": true,
     "autoApply": true,
    "opens": "center"
   }, function(start, end, label) {
  console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
});
});

</script>