{% extends 'base/main.html' %}
{% block content %}
{% block title %} Cashier Detailed Report {% endblock %}
<h1 class="text-center mb-3 mt-5 pt-5 white1">Cashier Detailed Report</h1>
<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
   <li class="nav-item">
      <a class="nav-link active white1" id="operator-tab" data-toggle="tab" href="#home" role="tab" aria-controls="operator"
         aria-selected="true">Operators</a>
   </li>
   <li class="nav-item">
      <a class="nav-link white1" id="termi-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="profile"
         aria-selected="false">Terminal</a>
   </li>
   <li class="nav-item">
      <a class="nav-link white1" id="all-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="contact"
         aria-selected="false">All</a>
   </li>
</ul>
<div class="tab-content" id="myTabContent">
   <div class="tab-pane fade show active" id="operator" role="tabpanel" aria-labelledby="operator-tab">
      <div class="container">
         <div class="card text-center col-md-4 offset-md-4">
<!--            {% if error %}-->
<!--            <p style="color:red; text-align:center; text-transform: capitalize">{{ error }}</p>-->
<!--            <br>-->
<!--            {% endif %}-->
            <form action="{% url 'cashierpdf' %}" method="POST">
               {% csrf_token %}
               <div id="pos-div">
                  <Label class="mt-2">Choose POS: </Label>
                  <br>
                  <select name="pos-dev" class="form-control" id="pos-dev" >
<!--                     <option value="0">ALL</option>-->
                     {% for po in pos %}
                     <option value="{{ po.pos_name }}">{{ po.pos_name }}</option>
                     {% endfor %}
                  </select>
               </div>
               <div id="operator-div">
                  <Label class="mt-2">Choose Operator: </Label>
                  <br>
                  <select name="pos-op" class="form-control" id="pos-op">
                     {% for oper in operators %}
                     <option value="{{ oper.username }}">{{ oper.username }}</option>
                     {% endfor %}
                  </select>
               </div>
               <br>
               <label>Start & End Date</label>
               <input name="daterange" id="daterange" class="form-control">
               <br>
               <input type="submit" class="btn btn-primary btn-block mb-2">
            </form>
         </div>
      </div>
   </div>
</div>
<footer>
   <p class="text-center">ISA Copyright &copy; 2019</p>
</footer>
<div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cashier Report</h5>
            <a href="{% url 'cashier' %}">
            <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
            </button>
            </a>
         </div>
         <div class="modal-body">
            <p style="color:red; text-align:center; text-transform: uppercase">{{ error }}</p>
         </div>
         <div class="modal-footer">
         </div>
      </div>
   </div>
</div>
{% endblock %}