{% extends 'base/main.html' %}
{% block content %}
{% block title %} Special Discount Report {% endblock %}
<h1 class="text-center mb-3 mt-5 pt-5 white1">Special Discount Summary Report</h1>
<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
   <li class="nav-item">
      <a class="nav-link active white1" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
         aria-selected="true">ALL</a>
      <!-- per month selection -->
   </li>
   <!-- <li class="nav-item">
      <a class="nav-link white1" id="profile-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="profile"
          aria-selected="false">PWD</a>
      </li>
      <li class="nav-item">
      <a class="nav-link white1" id="contact-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="contact"
          aria-selected="false">REGULAR</a>
      </li> -->
</ul>
<div class="tab-content" id="myTabContent">
<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
   <div class="container">
      <div class="card text-center col-md-4 offset-md-4">
         <form action="discountpdf" method="POST">
            {% csrf_token %}
            <!-- <Label class="mt-2">ALL: </Label> -->
            <Label>Start & End Date </Label>
            <input name="daterange" id="daterange" class="form-control">
            <br>
            <input type="submit" class="btn btn-primary btn-block mb-2">
         </form>
      </div>
   </div>
</div>
<div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true" data-backdrop="static" data-keyboard="false" href="#">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Discount Report</h5>
            <a href="{% url 'discount' %}">
            <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
            </button>
            </a>
         </div>
         <div class="modal-body">
            <p style="color:red; text-align:center; text-transform: uppercase">{{ error }}</p>
         </div>
         <div class="modal-footer">
<!--            <a href="{% url 'discount' %}">-->
<!--            <button type="button" class="btn btn-secondary">-->
<!--            <span aria-hidden="true">BACK TO Discount</span>-->
<!--            </button>-->
<!--            </a>-->
         </div>
      </div>
   </div>
</div>
{% endblock %}
<!-- Incomereport.objects.filter(timein__gte='2019-01-01 00:00:00', timeout__lte='2019-01-01 23:59:59', operator='Nucup, Abigai').values('operator').aggregate(Max(trno)) -->