{% extends 'base/main.html' %}
{% block content %}
{% block title %}Daily Sales Report {% endblock %}
<h1 class="text-center mb-4 mt-5 pt-5 white1">Daily Summary Sales Report</h1>
<div class="container">
   <div class="card text-center col-md-4 offset-md-4">
      {% if error %}
      <p style="color:red; text-align:center; text-transform: capitalize">{{ error }}</p>
      <br>
      {% endif %}
      <form action="{% url 'bir' %}" method="POST">
         {% csrf_token %}
         <Label class="mt-2">Choose POS: </Label>
         <br>
         <select name="pos" class="form-control" >
            <option value=0 selected>All</option>
            {% for po in pos %}
            <option value="{{ po.pc }}" >{{ po.pc }}</option>
            {% endfor %}
         </select>
         <br>
         <label>Start & End Date</label>
<!--         <div id="daterange" name="daterange" class="form-control" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">-->
<!--            <i class="fa fa-calendar"></i>&nbsp;-->
<!--            <span></span> <i class="fa fa-caret-down"></i>-->
            <input name="daterange" id="daterange" class="form-control">
<!--        </div>-->
         <br>
         <input type="submit" class="btn btn-primary btn-block mb-2" formtarget="_blank">
      </form>
   </div>
</div>
<footer>
   <p class="text-center">ISA Copyright &copy; 2019</p>
</footer>

{% endblock %}