{% extends 'base/main.html' %}
{% block content %}
{% block title %} Zero Amount - PDF {% endblock %}
<h1 class="text-center mb-4 mt-5 pt-5 white1">Zero Amount - PDF</h1>
<div class="container">
   <div class="card text-center col-md-4 offset-md-4">
      <form action="{% url 'zeramountpdf' %}" method="POST">
         {% csrf_token %}
         <label>Choose :</label>
            <select name="grace" id="grace" class="form-control">
               <option value=1>ALL</option>
               <option value=2>VIP</option>
               <option value=3>GRACE PERIOD</option>
            </select>
         <br>
         <label>Start & End Date</label>
            <input name="daterange" id="daterange" class="form-control">
         <br>
         <input type="submit" class="btn btn-primary btn-block mb-2">
      </form>
   </div>
</div>
<footer>
   <p class="text-center">IPMC Parking POS Version 18B2.02</p>
</footer>
<div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true" data-backdrop="static" data-keyboard="false" href="#">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Manual Ticket Report</h5>
            <a href="{% url 'zeramount' %}">
            <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
            </button>
            </a>
         </div>
         <div class="modal-body">
            <p style="color:red; text-align:center; text-transform: uppercase">{{ error }}</p>
         </div>
         <div class="modal-footer">
         </div>
      </div>
   </div>
</div>
{% endblock %}